<div class="container">

  <div class="title">
    <h1>{{title}}</h1>
  </div>

  <div class="gameOptions">
    <ul>
      <li>
        <h2>
          <a routerLink="/multiplePlayersNameForm" routerLinkActive="active">Player vs Player</a>
        </h2>
      </li>

      <li>
        <h2>
          <a routerLink="/singlePlayerNameForm" routerLinkActive="active">Player vs Computer</a>
        </h2>
      </li>

      <li>
        <h2>
          <a routerLink="/instructions" routerLinkActive="active">Instructions</a>
        </h2>
      </li>
    </ul>
  </div>
</div>


